/*********************************************************/
/*     Web del STARSET - hoja de estilo de index         */
/*                Autor: Marco Valente                   */
/*               Version 1.0 - 1/12/2022                 */
/******************************************************   /

/******************** estilo general ******************** */
/*******************************NAVBAR**********************/
/* Add a black background color to the top navigation */

/*******************************NAVBAR**********************/

/*********************************WRAPPER/BODY********************/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
  height: -webkit-fill-available;
}

@font-face {
    font-family: axion;
    src: url('./../fonts/Axion.otf');
}

@font-face {
    font-family: Agency;
    src: url('./../fonts/AgencyFB-Bold.ttf');
}

@font-face {
    font-family: URW-DIN;
    src: url('./../fonts/URW-DIN.otf');
}

@font-face {
    font-family: Jaapokkienchance;
    src: url('./../fonts/Jaapokkienchance-Regular.otf');
}

@font-face {
    font-family: OCR-Regular;
    src: url('./../fonts/OCR-A-Regular.ttf');
}


body {
    background-color: black;
    color: aliceblue;
    overflow-x: hidden;

}

/*********************************WRAPPER/BODY********************/

/***********************************HERO*************************/
#wrapper {
    margin: auto;
    width: 100%;
    height: 100%;
}

#navbar {
    background-color: rgb(62, 0, 0);
}

#hero {
    
    min-height: 100vh;
    background-image: url('./../img/CoverImage.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    margin: auto;
    border-bottom: 400px rgba(234, 0, 0, 0.5);

}

#logo {
    width: 70%;
    opacity: 0.85;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20%;
}

/* TABLET VERSION
#logo {
    width: 40%;
    opacity: 0.85;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}

#callink{
    display: block;
    position: absolute;
    text-align: center;
    margin-right: 42.5vw;
    margin-left: 42.5vw;
    margin-top: 70%;
    width: 15vw;
    bottom: 4vh; 
    border-width: 0.5vw;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background: #FF8D6B;
    font-size:1.4em;
    font-family: axion;
    text-decoration: none;
    border-radius: 5%;
    font-weight: bold;
    opacity: 0.9;
    
}
*/
#logo img {
    width: 100%;
}

/*
#call{
    position: absolute;
    text-align: center;
    margin-right: 25vw;
    margin-left: 25vw;
    margin-top: 70%;
    width: 50vw;
    bottom: 4vh; 

}
*/

#callink {
    display: block;
    position: absolute;
    margin-right: 30vw;
    margin-left: 30vw;
    margin-top: 70%;
    width: 40vw;
    bottom: 4vh;
    border-width: 0.5vw;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: #FF8D6B;
    font-size: 1.2em;
    font-family: axion;
    text-decoration: none;
    border-radius: 5%;
    font-weight: bold;
    opacity: 0.9;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}


/********************************ALBUMS SECTION*************************************/
#albums {
    height: 100vh;
    background-image: url('./../img/albums/albumsCover.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    margin: auto;
}

.grid4 {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(0, 0, 0, 0.55);

}

.card {
    padding-bottom: 2.5vh;
    padding-top: 2.5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    transition: 0.3s;
    width: 50vw;
    height: 45vh;
}

.cover *{
    display: flex;
    width: 40vw;
    padding-bottom: 1vh;
}
.cover img {
    border-radius: 10%;
    width: 100%;
    object-fit:cover;
}
.transmissions{
    font-family: Agency;
    text-align: center;
    font-size: 1.2em;

}

.vessels{
    font-family: Jaapokkienchance;
    text-align: center;
    font-size: 1.2em;

}

.divisions{
    font-family: OCR-Regular;
    text-align: center;
    font-size: 1.2em;

}

.horizons{
    font-family: URW-DIN;
    text-align: center;
    font-size: 1.2em;
}


/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mediarow{
    width: 100%;
    text-align: center;
}

.mediaicon{
    display: inline-block;
    width: /*31*/31%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 3%;
    
}

.mediaicon img{
    width: 100%;
}
/*ALBUMS SECTION*/

/************************************************TOURS SECTION******************************************/

#tour {
    height: 100vh;
    background-color: rgb(216, 123, 9);
    color: #000;
    margin: auto;
}
/************************************************TOURS SECTION******************************************/


/************************************************PHOTOS SECTION******************************************/
#photos {
    height: 100vh;
    color: white;
    margin: auto;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100vw;
    height: 100vh;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .mySlides img{
    object-fit: cover;
    height:70vh;
    width: 100vw;

  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/************************************************PHOTOS SECTION******************************************/

#bio {
    height: 70vh;
    background-color: aquamarine;
    margin: auto;
}

/*videos section*/
.video {
    margin: auto;
    height: 30vh;
}

.frame {
    position: absolute;
    /*top: 0;
    left: 0;
    bottom: 0;
    right: 0;*/
    width: 100%;
    height: 100%;
}

/*videos section*/

footer {
    height: 20vh;
}

/***********************************HERO************************/

/*******************************Media Quieries***********************************/

/*******************************Media Quieries***********************************/